<div class="container">
    <div class="row py-4">
        <div class="card">
            <h5 class="card-header">Course Name: <span> {{course!.courseName}}</span></h5>
            <div class="card-body">
              <h5 class="card-title">Instructor Name:</h5>
              <p class="card-text">{{course!.instructorName}}</p>
              <h5 class="card-title">Course Duration:</h5>
              <p class="card-text">{{course!.courseHours}} Hours</p>
              <h5 class="card-title">Course Department:</h5>
              <p class="card-text">{{course!.department}}</p>
              <h5 class="card-title">Course Description:</h5>
              <p class="card-text">{{course!.courseDescription}}</p>
            </div>
          </div>
    </div>
</div>